*~
*.swp
*.bak
*.inc
*.o
*.so
*.a
bin/*
src/limesdr_toolbox/libdvbmod/DvbTsToIQ/dvb2iq
src/limesdr_toolbox/limesdr_dump
src/limesdr_toolbox/limesdr_dvb
src/limesdr_toolbox/limesdr_forward
src/limesdr_toolbox/limesdr_send
src/express_server/
src/rtl-sdr/
